
.intro{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    top: 100px;
    height: calc(77vh + 30px);
    max-width: 100vw;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    text-align: left;
    padding-right: 30%;
    padding-left: 5%;


    h1{
      font-size: 3.75rem;
      font-weight: 700;
    }
    h2{
      font-size: 2.5rem;
      font-weight: 700;
      color: blue;
    }
    p{
      font-size: 1.125rem;
    }
  }

  @media screen and (max-width: 1027px) {
    .intro{
      padding-right: 10% !important;
    }
  }
  

@media screen and (max-width: 500px) {
  .intro{
    padding-left: 10% !important;
  }
  .search-container{
  display: none !important;  
}
}
