@import "~bootstrap/scss/bootstrap";


.top-bar{
    background-color: #1a212a;
    padding: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 1em;
    p{
        margin-bottom: 0;
    }
}