* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
  }

body, html{
    max-width: 100%;
    font-size: 16px;
}
.app{
  // overflow-x: hidden;
  a{
    text-decoration: none;
  }
}

/* width */
 ::-webkit-scrollbar {
   width: 10px;
 }

 /* Track */
 ::-webkit-scrollbar-track {
   background: #f1f1f1; 
 }
 
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: #888; 
   border-radius: 10px;
 }

 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: #555; 
 }

 .cursor{
   cursor: pointer;
 }

 .top-div{
    
  z-index: 10000;
  padding: 0;
  p{
      span{
          font-weight: 700;
      }
  }
}
.sticky{
  position: sticky !important;
  top: 0;
}

@media screen and (max-width: 800px) {
  body, html{
    font-size: 14px;
}
}